.cards {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 22px 0;
  border-radius: 3px;
}

.cards-header {
  font-size: 16px;
  line-height: 12px;
  margin: 14px 0;
}

.card {
  padding: 17px 7px;
  text-align: center;
  width: 25%;
}

.card-img {
  width: 88%;
}

.card>p {
  font-size: 12px;
  color: #a4a4a4;
  line-height: 17px;
}
.card>h3 {
  font-size: 12px;
  line-height: 0px;
  
}